/* Mary/katbiznis
*
/*src/sass/styles.scss - Main styles for katBiznis
*
*coded by Mary
*started at "09/02/2017"

*/

html {
  width: 100%;
  height: 100%;
  background: white url(../images/main-bcg.png) center repeat;
  font: normal 62.5%/1.45 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color:black

}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  width:90%;
}
section{
  min-height: 15rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background: white;
  box-shadow: 0 0 .5rem rgba( black, .25 );
  &.face{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black url(../images/card-bcg.jpg) center no-repeat;

  }
  &.back{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
h1{
    color:white;
    font-weight: 100;
    font-size:2.4rem;
    font-shadow: 0 0 .5rem black;
    margin-bottom: 1rem;
    strong{
      font-weight: 300;
    }
  }
p{
  margin:0 auto;
  font-size: 1.4rem;
  color:white;
}

h2{
  margin:0 auto 1rem;
  font-size: 1.8rem;
  font-weight: 200;
  text-align: left;
}
dl{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin:0;
  dt{
    width: 22.5%;
    text-align: right;
    margin-right: 2.5%;
    font-size: 1.2rem;
  }
  dd{
    width: 65%;
    margin: 0;
    font-size: 1.4rem;
  }
}

nav{
  display: none;
}
